/*
	Style Sheet For Mobile Device
*/
body{
	margin: 0px;
}
h1{
	color: #CAEDFF;
	background-color: #757779;
	font-size: 80px;
	width: 100%;
	height: 120px;
	line-height: 120px;
	text-align: center;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	left: 0;
	right: 0;
	top: 0;
	box-shadow: 0 5px 5px #B9CBD8;
}
a{
	color: #CFA9BB;
	text-decoration: none;
}